<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maangan.com - Landing Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header tabindex="-1">
    <div tabindex="-1" class="flex content-space-beetwen align-center full-container header">
        <h1 class="header-brand">maangan.com</h1>
        <a href="#favorite" class="skip-link">Skip To Content</a>
        <nav class="flex content-end nav-menu nav-desktop">
            <span class="nav-item"><a href="#">Home</a></span>
            <span class="nav-item"><a href="#favorite">Favorite</a></span>
            <span class="nav-item"><a href="#about">About Us</a></span>
        </nav>
        <button aria-label="burger menu" id="burger">☰</button>
    </div>
</header>
<nav id="nav-mobile" class="flex-column content-center align-center nav-menu nav-mobile">
    <span class="nav-item"><a href="#">Home</a></span>
    <span class="nav-item"><a href="#favorite">Favorite</a></span>
    <span class="nav-item"><a href="#about">About Us</a></span>
</nav>
<div class="full-container">
    <img tabindex="0" class="jumbotron" src="./images/heros/hero-image_4.jpg" alt="jumbotron banner"/>
</div>
<div id="favorite" class="container bg-theme">
    <div tabindex="0" class="center-inline-block">
        <h2 class="sub-title">Explore Restaurant</h2>
    </div>
    <div class="grid">

        <div tabindex="0" class="card">
            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Bring Your Phone Cafe">
            <div class="content-overlay flex-column content-space-beetwen">
                <div class="flex card-badge content-space-beetwen">
                    <div class="flex content-space-around align-center ratting">
                        <img src="./assets/star.png" alt="ratting">
                        <h3>4.6</h3>
                    </div>
                    <div class="flex content-space-around align-center location">
                        <img src="./assets/ellipse.png" alt="ratting">
                        <h3>Medan</h3>
                    </div>
                </div>
                <div class="card-content">
                    <h3>Bring Your Phone Cafe</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed soluta doloribus a asperiores architecto repudiandae necessitatibus, incidunt cum quos, aperiam recusandae sunt mollitia cupiditate dolores ducimus? Quaerat, quas.</p>
                    <a class="button-cta" href="http://maps.google.com" target="_blank">Open in Google Maps </a>
                </div>
            </div>
        </div>

        <div tabindex="0" class="card">
            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Run The Gun" srcset="">
            <div class="content-overlay flex-column content-space-beetwen">
                <div class="flex card-badge content-space-beetwen">
                    <div class="flex content-space-around align-center ratting">
                        <img src="./assets/star.png" alt="ratting">
                        <h3>4.6</h3>
                    </div>
                    <div class="flex content-space-around align-center location">
                        <img src="./assets/ellipse.png" alt="location">
                        <h3>Bali</h3>
                    </div>
                </div>
                <div class="card-content">
                    <h3>Run The Gun</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed soluta doloribus a asperiores architecto repudiandae necessitatibus, incidunt cum quos, aperiam recusandae sunt mollitia cupiditate dolores ducimus? Quaerat, quas.</p>
                    <a class="button-cta" href="http://maps.google.com" target="_blank">Open in Google Maps </a>
                </div>
            </div>
        </div>

        <div tabindex="0" class="card">
            <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="pangsit-express" srcset="">
            <div class="content-overlay flex-column content-space-beetwen">
                <div class="flex card-badge content-space-beetwen">
                    <div class="flex content-space-around align-center ratting">
                        <img src="./assets/star.png" alt="ratting">
                        <h3>4.8</h3>
                    </div>
                    <div class="flex content-space-around align-center location">
                        <img src="./assets/ellipse.png" alt="location">
                        <h3>Ternate</h3>
                    </div>
                </div>
                <div class="card-content">
                    <h3>Pangsit Express</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed soluta doloribus a asperiores architecto repudiandae necessitatibus, incidunt cum quos, aperiam recusandae sunt mollitia cupiditate dolores ducimus? Quaerat, quas.</p>
                    <a class="button-cta" href="http://maps.google.com" target="_blank">Open in Google Maps </a>
                </div>
            </div>
        </div>

    </div>
    <a class="cta-link" href="#">Explore More Restaurant</a>
</div>
<div class="flex content-space-beetwen sponsors">
    <div class="flex content-space-around sponsor-icon">
        <img src="./assets/recc.png" alt="" srcset="">
        <img src="./assets/recd.png" alt="" srcset="">
        <img src="./assets/recf.png" alt="" srcset="">
        <img src="./assets/recg.png" alt="" srcset="">
        <img src="./assets/rece.png" alt="" srcset="">

    </div>
    <div class="flex content-center align-center sponsor-title">
        <h2 class="cus-title">
            Our Sponsors
        </h2>
    </div>
</div>
<div class="flex content-space-beetwen about bg-theme">
    <div class="about-form">
        <div class="flex card">
            <div class="maps">
                <iframe tabindex="-1" width="100%" height="100%" src="https://maps.google.com/maps?q=jl%20asem%20jaya&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
            </div>
            <div class="form">
                <h3>We Will Contact You Soon !!!</h3>
                <form action="">
                    <input type="text" placeholder="Email">
                    <textarea name="" id="" rows="10" placeholder="Message"></textarea>
                    <input type="button" class="button-cta" value="Submit">
                </form>  
                <a class="cta-link" href="https://github.com/masdikaid/">or visit our work</a>
            </div>
        </div>
    </div>
    <div id="about" class="flex content-center align-center about-title">
        <h2 class="cus-title">
            About Us
        </h2>
    </div>
</div>
<footer class="flex-column content-end">
    <div class="footer-content">

    </div>

    <div class="flex content-center align-center footer-credit">
        <h3>Copyright © 2021 - maangan.com</h3>
    </div>
</footer>
</body>
</html>