<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maangan.com - Landing Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="flex content-space-beetwen align-center full-container header">
        <h1 class="header-brand">maangan.com</h1>
        <ul class="flex content-end nav-menu nav-desktop">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Favorite</a></li>
            <li class="nav-item"><a href="#">About Us</a></li>
        </ul>
        <a href="#" id="burger">☰</a>
    </div>
</header>
<ul id="nav-mobile" class="flex-column content-center align-center nav-menu nav-mobile">
    <li class="nav-item"><a href="#">Home</a></li>
    <li class="nav-item"><a href="#">Favorite</a></li>
    <li class="nav-item"><a href="#">About Us</a></li>
</ul>
<div class="full-container">
    <img class="jumbotron" src="./images/heros/hero-image_4.jpg" alt="jumbotron banner"/>
</div>
<div class="container bg-theme">
    <div class="center-inline-block">
        <h2 class="sub-title">Explore Restaurant</h2>
    </div>
    <div class="grid">

        <div class="card">
            <img src="./images/heros/hero-image_2.jpg" alt="setara-coffe" srcset="">
            <div class="content-overlay flex-column content-space-beetwen">
                <div class="flex card-badge content-space-beetwen">
                    <div class="flex content-space-around align-center ratting">
                        <img src="./assets/star.png" alt="ratting">
                        <h3>4.3</h3>
                    </div>
                    <div class="flex content-space-around align-center location">
                        <img src="./assets/ellipse.png" alt="ratting">
                        <h3>Bandung</h3>
                    </div>
                </div>
                <div class="card-content">
                    <h3>Setara Coffe</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed soluta doloribus a asperiores architecto repudiandae necessitatibus, incidunt cum quos, aperiam recusandae sunt mollitia cupiditate dolores ducimus? Quaerat, quas.</p>
                    <a class="button-cta" href="http://maps.google.com" target="_blank">Buka Google Maps</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="./images/heros/hero-image_3.jpg" alt="setara-coffe" srcset="">
            <div class="content-overlay flex-column content-space-beetwen">
                <div class="flex card-badge content-space-beetwen">
                    <div class="flex content-space-around align-center ratting">
                        <img src="./assets/star.png" alt="ratting">
                        <h3>4.3</h3>
                    </div>
                    <div class="flex content-space-around align-center location">
                        <img src="./assets/ellipse.png" alt="ratting">
                        <h3>Bandung</h3>
                    </div>
                </div>
                <div class="card-content">
                    <h3>Setara Coffe</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed soluta doloribus a asperiores architecto repudiandae necessitatibus, incidunt cum quos, aperiam recusandae sunt mollitia cupiditate dolores ducimus? Quaerat, quas.</p>
                    <a class="button-cta" href="http://maps.google.com" target="_blank">Buka Google Maps</a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="./images/heros/hero-image_4.jpg" alt="setara-coffe" srcset="">
            <div class="content-overlay flex-column content-space-beetwen">
                <div class="flex card-badge content-space-beetwen">
                    <div class="flex content-space-around align-center ratting">
                        <img src="./assets/star.png" alt="ratting">
                        <h3>4.3</h3>
                    </div>
                    <div class="flex content-space-around align-center location">
                        <img src="./assets/ellipse.png" alt="ratting">
                        <h3>Bandung</h3>
                    </div>
                </div>
                <div class="card-content">
                    <h3>Setara Coffe</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis similique sed soluta doloribus a asperiores architecto repudiandae necessitatibus, incidunt cum quos, aperiam recusandae sunt mollitia cupiditate dolores ducimus? Quaerat, quas.</p>
                    <a class="button-cta" href="http://maps.google.com" target="_blank">Buka Google Maps</a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
